@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav-item">
        <form method="post" asp-controller="account" asp-action="Logout" class="d-flex justify-content-center align-items-center">
            <button type="submit" style="width: auto" class="nav-link btn btn-link " >
                Sair
            </button>
            <p class="m-0"> @User.Identity.Name</p>
        </form>
    </ul>
}
else
{
    <ul class="nav-item d-flex">
        <a class="nav-link" asp-controller="account" asp-action="Register">Criar Conta</a>
        <a class="nav-link" asp-controller="account" asp-action="Login">Login</a>

    </ul>
  
}
