@model Emprestimo
@{
    ViewData["title"] = "Apagar Empréstimos";
}

<style>


    .container-cadastro {
        width: 580px;
        background: rgba(234, 191, 255, 0.4);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px 19px;
        margin: 0 auto;
    }
</style>
<div class="container-cadastro">

    <div class="mb-3 text-center">
        <h1 style="background-color: #3c005a; color: white">Apagar Empréstimo</h1>
    </div>

    <form method="post" asp-controller="Emprestimo" asp-action="Apagar">
        @* pegando o Id da asp-route *@
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <h3 class="text-center">Tem certeza que deseja apagar esse empréstimo 🤨???</h3>
        </div>
        
        <div class="d-flex gap-5 mt-3">
            <button type="submit" class="btn w-50" style="background-color: #3c005a; color: white">Apagar</button>
            <a class="btn w-50" style="background-color: #800080; color: white" asp-controller="Emprestimo" asp-action="Index">Voltar</a>
        </div>

    </form>
</div>


