:root {
    --header-height: 3.5rem;
    
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(230, 70%, 16%);
    --text-color: hsl(230, 16%, 45%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


html {
    scroll-behavior: smooth;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}

input,
button {
    border: none;
    outline: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.containerhome {
    max-width: 1220px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 3rem 1rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden; /* For animation ScrollReveal */
}


.expl-button {
    display: inline-block;
    background-color: #3c005a;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 1.5rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.expl-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    color: white;
}

/* - -------------------- Home ---------------- ---*/
.home__swiper{
    margin: initial;
}

.home__container{
    padding-top: 4rem;
    row-gap: 2.5rem;
}

.home__data{
    text-align: center;
}

.home__title{
    font-size: var(--biggest-font-size);
    margin-bottom: .9rem;
}

.home__description{
    margin-bottom: .9rem;
    padding: 10px 45px;
}

.home__images{
    display: grid;
}

.home__article{
    display: flex;
    justify-content: center;

}

.home__article,
.home__img {
    width: 220px;
    transition: scale .4s;
}

.home__article{
    scale: .8;
}

.swiper-slide-active,
.swiper-slide-duplicate-active{
    scale: 1;
}

/* - -------------------- Features ---------------- ---*/
.features__container {
    row-gap: 3rem;
    text-align: center;
}

.features__card{
    text-align: center;
}

    .features__card i {
        display: block;
        font-size: 3rem;
        color: #7163ba;
        margin-bottom: 1rem;
    }

.features_title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}



/* - -------------------- Demos ---------------- ---*/

.demo__card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding: 2rem;
    overflow: hidden;
    border: 2px solid var(--border-color);
    transition: border .4s, background-color .4s;
}

.demo__img{
    width: 150px;
    margin: 0 auto .75rem;
}

.demo__title{
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.ask-demo {
    display: inline-block;
    background-color: #3c005a;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: .3rem .5rem;
}

.demo__actions{
    display: inline-flex;
    flex-direction: column;
    row-gap: .75rem;
    position: absolute;
    top: 2rem;
    right: -2.0rem;
    transition: right .4s;
}

    .demo__actions button {
        background: none;
        font-size: 1.5rem;
        color: #3c005a;
        cursor: pointer;
    }


    .demo__card:hover .demo__actions{
        right: 2.0rem;
    }


/* - -------------------- Questions ---------------- ---*/
.answer {
    display: none;
    margin-top: 0;
}

.questions-data {
    margin-bottom: 20px;
    cursor: pointer;
    background-color: var(--container-color);
    padding: 1rem;
    overflow: hidden;
    border: 2px solid var(--border-color);
    transition: border .4s, background-color .4s;
}

.questions-data h3{
    font-size: var(--h3-font-size);
}

/* - -------------------- Scroll Bar ---------------- ---*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(230, 16%, 85%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(230, 16%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 16%, 55%);
}


/* - -------------------- BREAKPOINTSSSS ---------------- ---*/

/*FOR SMALL DEVICES*/
@media screen and (max-width: 320px){
    .containerhome{
        margin-inline: 1rem;
    }

}

/*FOR Medium DEVICES*/
@media screen and (max-width: 576px) {
    .home__container{
        grid-template-columns: 420px;
        justify-content: center;
    }

}

/*FOR LARGE DEVICES*/
@media screen and (min-width: 1150px){
    
    .home__data{
        width: initial;
    }

    .home__images{
        margin-top: 3.9rem;
    }

    .features__container{
        column-gap: 10rem;
    }

    .features__card i {
        font-size: 3.5rem;
    }

    .containerhome{
        max-width: 100%

    }


    .home__description {
        max-width: 60%;
        margin: 0 auto; 
        padding-bottom: 34px;
        padding-left: 0;
    }

    .home__article,
    .home__img {
        width: 380px;
        transition: scale .4s;
    }

}

@media screen and (min-width: 1220px){
    .containerhome{
        margin-inline: auto;
        max-width: 100%;
    }

    .home__container {
        grid-template-columns: 635px 325px;
        align-items: center;
        padding-block: 0rem 2rem;
        justify-content: center; 
    }

    .swiper{
        overflow: auto;
    }

    .home__data {
        text-align: initial;
    }

    .home__description{
        margin: 0;
        max-width: 700px;
    }

    .demo_container{
        max-width: 80%
    }

    .questions__container {
        padding: 28px;
        width: 1200px;
    }

    .features__container {
        padding-block: 6rem 2rem;
    }

    .demo {
        padding-block: 6rem 2rem;
    }


}

