@{
    ViewData["Title"] = "Home";
}

<main class="main">
    @* HOME *@
    <section class="home section" id="home">
        <div class="home__container containerhome grid">
            <div class="home__data">
                <h1 class="home__title">
                    Encontre livros & Doe livros!
                </h1>

                <p class="home__description">
                    O conhecimento deve ser compartilhado 
                    a todos que o buscam. Aqui, não apenas exploramos livros, mas também compartilhamos histórias, conectando leitores apaixonados de todo o mundo.
                </p>

                <a href="#" class=" expl-button">Explore Agora</a>
            </div>

            <div class="home__images">
                <div class="home__swiper swiper">
                    <div class="swiper-wrapper">
                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-1.png" class="home__img" />
                        </article>

                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-2.png" class="home__img" />

                        </article>

                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-3.png" class="home__img" />

                        </article>

                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-4.png" class="home__img" />

                        </article>
                    </div>
                </div>
            </div>

        </div>
    </section>

    @*     Features *@

    <section class="features section" id="featured">
        <div class="features__container containerhome grid">
            
            <h2>Algumas ferramentas disponivéis para você: </h2>

            <article class="features__card">
                <i class="bi bi-book"></i>
                <h3 class="features_title">Catálogo de Livros</h3>
                <p class="features_descrip">
                    Explore uma ampla variedade de livros disponíveis para empréstimo.
                    
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-journal-medical"></i>
                <h3 class="features_title">Meus Livros</h3>
                <p class="features_descrip">
                    Gerencie e acompanhe os livros que estão sob sua responsabilidade.
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-collection"></i>
                <h3 class="features_title">Empréstimos Pendentes</h3>
                <p class="features_descrip">
                    Mantenha-se atualizado sobre os empréstimos pendentes.
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-file-earmark-arrow-up"></i>
                <h3 class="features_title">Histórico de Empréstimos</h3>
                <p class="features_descrip">
                    Tenha acesso a um registro completo de todos os empréstimos anteriores.
           
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-pencil-square"></i>
                <h3 class="features_title"> Solicitar Empréstimos</h3>
                <p class="features_descrip">
                    Solicite livros específicos de outros usuários de forma rápida e fácil.

                </p>
            </article>

        </div>
    </section>


    
    </main>
