@{
    ViewData["Title"] = "Home";
}

<main class="main">
    @* HOME *@
    <section class="home section" id="home">
        <div class="home__container containerhome grid">
            <div class="home__data">
                <h1 class="home__title">
                    Encontre livros & Doe livros!
                </h1>

                <p class="home__description">
                    O conhecimento deve ser compartilhado 
                    a todos que o buscam. Aqui, não apenas exploramos livros, mas também compartilhamos histórias, conectando leitores apaixonados de todo o mundo.
                </p>

                <a href="#" class=" expl-button">Explore Agora</a>
            </div>

            <div class="home__images">
                <div class="home__swiper swiper">
                    <div class="swiper-wrapper">
                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-1.png" class="home__img" />
                        </article>

                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-2.png" class="home__img" />

                        </article>

                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-3.png" class="home__img" />

                        </article>

                        <article class="home__article swiper-slide">
                            <img src="~/Assets/home-book-4.png" class="home__img" />

                        </article>
                    </div>
                </div>
            </div>

        </div>
    </section>

    @*     Features *@

    <section class="features section" id="featured">
        <div class="features__container containerhome grid">
            
            <h2>Algumas ferramentas disponivéis para você: </h2>

            <article class="features__card">
                <i class="bi bi-book"></i>
                <h3 class="features_title">Catálogo de Livros</h3>
                <p class="features_descrip">
                    Explore uma ampla variedade de livros disponíveis para empréstimo.
                    
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-journal-medical"></i>
                <h3 class="features_title">Meus Livros</h3>
                <p class="features_descrip">
                    Gerencie e acompanhe os livros que estão sob sua responsabilidade.
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-collection"></i>
                <h3 class="features_title">Empréstimos Pendentes</h3>
                <p class="features_descrip">
                    Mantenha-se atualizado sobre os empréstimos pendentes.
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-file-earmark-arrow-up"></i>
                <h3 class="features_title">Histórico de Empréstimos</h3>
                <p class="features_descrip">
                    Tenha acesso a um registro completo de todos os empréstimos anteriores.
           
                </p>
            </article>

            <article class="features__card">
                <i class="bi bi-pencil-square"></i>
                <h3 class="features_title"> Solicitar Empréstimos</h3>
                <p class="features_descrip">
                    Solicite livros específicos de outros usuários de forma rápida e fácil.

                </p>
            </article>

        </div>
    </section>

    <section class="demo section" id="demo">
        <h2 class="section__title">
            Livros mais Emprestados:
        </h2>

        <div class="demo_container containerhome">
            <div class="demo__swiper swiper">
                <div class="swiper-wrapper">
                    <article class="demo__card swiper-slide">
                        <img src="~/Assets/book-1.png" class="demo__img" />

                        <h2 class="demo__title">Livro</h2>

                        <a class="btn ask-demo">
                            Pedir emprestado<i class="bi bi-hand-index-thumb"></i>
                        </a>


                        <div class="demo__actions">
                            <button><i class="bi bi-geo-alt"></i></button>
                            <button><i class="bi bi-bookmark-heart"></i></button>
                            <button><i class="bi bi-eye-fill"></i></button>
                        </div>

                    </article>

                    <article class="demo__card swiper-slide">
                        <img src="~/Assets/book-5.png" class="demo__img" />

                        <h2 class="demo__title">Livro3</h2>

                        <a class="btn ask-demo">
                            Pedir emprestado<i class="bi bi-hand-index-thumb"></i>
                        </a>

                        <div class="demo__actions">
                            <button><i class="bi bi-geo-alt"></i></button>
                            <button><i class="bi bi-bookmark-heart"></i></button>
                            <button><i class="bi bi-eye-fill"></i></button>
                        </div>
                    </article>

                    <article class="demo__card swiper-slide">
                        <img src="~/Assets/book-4.png" class="demo__img" />

                        <h2 class="demo__title">Livro3</h2>

                        <a class="btn ask-demo">
                            Pedir emprestado<i class="bi bi-hand-index-thumb"></i>
                        </a>

                        <div class="demo__actions">
                            <button><i class="bi bi-geo-alt"></i></button>
                            <button><i class="bi bi-bookmark-heart"></i></button>
                            <button><i class="bi bi-eye-fill"></i></button>
                        </div>
                    </article>

                    <article class="demo__card swiper-slide">
                        <img src="~/Assets/book-8.png" class="demo__img" />

                        <h2 class="demo__title">Livro</h2>

                        <a class="btn ask-demo">Pedir emprestado </a>

                        <div class="demo__actions">
                            <button><i class="bi bi-geo-alt"></i></button>
                            <button><i class="bi bi-bookmark-heart"></i></button>
                            <button><i class="bi bi-eye-fill"></i></button>
                        </div>

                    </article>

                    <article class="demo__card swiper-slide">
                        <img src="~/Assets/book-5.png" class="demo__img" />

                        <h2 class="demo__title">Livro</h2>

                        <a class="btn ask-demo">
                            Pedir emprestado<i class="bi bi-hand-index-thumb"></i>

                        </a>

                        <div class="demo__actions">
                            <button><i class="bi bi-geo-alt"></i></button>
                            <button><i class="bi bi-bookmark-heart"></i></button>
                            <button><i class="bi bi-eye-fill"></i></button>
                        </div>

                    </article>

                    <article class="demo__card swiper-slide">
                        <img src="~/Assets/book-8.png" class="demo__img" />

                        <h2 class="demo__title">Livro</h2>

                        <a class="btn ask-demo">Pedir emprestado </a>

                        <div class="demo__actions">
                            <button><i class="bi bi-geo-alt"></i></button>
                            <button><i class="bi bi-bookmark-heart"></i></button>
                            <button><i class="bi bi-eye-fill"></i></button>
                        </div>

                    </article>


                </div>
                <div class="swiper-button-prev" style="color: #7163ba;"></div>
                <div class="swiper-button-next" style="color: #7163ba;"></div>

            </div>
        </div>
    </section>

    @* --------------- PERGUNTAS ------------------------ *@
    <section class="questions section" id="questions">
        <div class="questions__container containerhome grid">

            <h2 class="questions__title section__title">
                 Perguntas & Respostas
            </h2>

            <div class="questions-data" id="question1">
                <div class="d-flex gap-2">
                    <i class="bi bi-caret-right-fill"></i>
                    <h3 onclick="toggleAnswer('answer1')">Os livros emprestados são totalmente GRATUITOS?</h3>
                </div>
               
                <div id="answer1" class="answer">
                    <p>Sim. Justamente porque queremos criar uma comunidade dedicada à troca de conhecimento e experiências literárias.</p>
                </div>
            </div>

             <div class="questions-data" id="question2">

                <div class="d-flex gap-2">
                    <i class="bi bi-caret-right-fill"></i>
                    <h3 onclick="toggleAnswer('answer2')">Como sei se alguém está interessado no livro que estou disposto a emprestar? </h3>
                </div>


                <div id="answer2" class="answer">
                    <p>Você será notificado automaticamente na seção "Empréstimos Pendentes" sempre que alguém solicitar um livro seu. Basta verificar essa seção para aprovar ou recusar as solicitações.</p>
                </div>
            </div>

            <div class="questions-data" id="question3">
                
                <div class="d-flex gap-2">
                    <i class="bi bi-caret-right-fill"></i>
                    <h3 onclick="toggleAnswer('answer3')">Posso estender o prazo de devolução de um livro que emprestei?</h3>
                </div>


                <div id="answer3" class="answer">
                    <p>Sim, é possível negociar prazos de devolução. Entre em contato com o usuário que pegou emprestado através da seção de "Meus Livros" para discutir a possibilidade </p>
                </div>
            </div>

             <div class="questions-data" id="question4">

                <div class="d-flex gap-2">
                    <i class="bi bi-caret-right-fill"></i>
                    <h3 onclick="toggleAnswer('answer4')">Existe alguma restrição de distância para empréstimos?</h3>
                </div>


                <div id="answer4" class="answer">
                    <p>Não há restrições de distância. O sistema conecta leitores de diversas localidades, permitindo empréstimos entre usuários independentemente da distância física.</p>
                </div>
            </div>

            <div class="questions-data" id="question5">

                <div class="d-flex gap-2">
                    <i class="bi bi-caret-right-fill"></i>
                    <h3 onclick="toggleAnswer('answer5')">E se eu precisar cancelar um pedido de empréstimo já feito?</h3>
                </div>


                <div id="answer5" class="answer">
                    <p>Você pode cancelar um pedido de empréstimo pendente na seção "Empréstimos Pendentes" antes que o dono do livro aprove a solicitação.</p>
                </div>
            </div>

        </div>
    </section>

    @* --------------- Scroll up ------------------------ *@


</main>
